.login{
  display: flex;
  justify-content:center;
  align-items:center;
}

.padding-top{
  margin-top: 5%;
}

.title{
  font-size: 1.88rem;
  color:rgb(37, 209, 66);
  display: flex;
  justify-content: center;    
}

.field-box{
  display: flex;
  flex-direction: column;
}

.pass-rec{
  display: flex;
  flex-direction: column;
}

button:active{
  opacity: 0.8;
}

.error{
  color: red;
  font-size: small;
  font-weight: bold;
  display:none;
}

.temp-account{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem auto 0 auto;
  width: 17rem;
  height: 3.5rem;
  font-size: 1.4rem;
  border: #FFD700 3px solid;
}