.mobile-buy-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mobile-upper-info{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-symbol-font{
  font-size: 50px;
}

.mobile-new-stock-buttons{
  display: flex;
  margin-bottom: 10px;
  justify-content: space-between;
  gap: 10px;
}

.mobile-stock-long-name{
  height: 10px;
}

.mobile-stock-name{
  display: flex;
  justify-content: center;
  align-items: center;
}