.mobile-mobile-stock{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(0, 0, 0);
}

.mobile-stock-name{
  display: flex;
  flex-direction: column;
  padding-top: 2%;
  padding-bottom: 2%;
}

.mobile-stock-comparison{
  display: flex;
  gap: 40px
}

.mobile-stock-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mobile-symbol-name{
  font-size: 4.5rem;
  height: 100px;
}

.mobile-small-symbol-name{
  font-size: 1.5rem;
  height: 15px;
}

.mobile-buy-button{
  width: 150px;
  height: 3.5rem;
  font-weight: bold;
  font-size: 1.7rem;
  color: white;
  margin-bottom: 10px;
}

.mobile-register-stock-button{
  width: 100px;
  height: auto;
  font-weight: bold;
  color: white;
  
  justify-content: center;
  align-items: center;
}

.mobile-stock-value{
  display:flex;
}

.mobile-stock-value-sim{
  display:flex;
  flex-direction: column;
}

.mobile-value-new-stock{
  display:flex;
}

.mobile-stock-label{
  height: 10px;
}

.mobile-value-font{
  font-size: 3rem;
}

.mobile-sim-button{
  padding: 2%;
}

.mobile-stock-title{
  font-size: 30px;
  white-space: nowrap;
}

.mobile-stock{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}