.header-container{
  background-color: green;
  display: flex;
  padding: 0;
  margin: 0;
  width: 100%;
}

.header-container h1{
  padding: 2%;
}

.market-body{
  margin-top: 5%;
}

.search-tab{
  display:flex;
  margin-left: 5%;
  align-items: center;
}

.search-tab p{
  white-space: nowrap;
}

.search-tab input{    
  margin-left: 10px;
  margin-right: 10px;
  height: 35px;
}

.search-tab button{
  height: 35px;
  padding-left: 1%;
  padding-right: 1%;
  font-size: medium;
  font-weight: bold;
  white-space: nowrap;
}

.reg-button{
  margin-left: 500px;
}

.exit-button{
  cursor: pointer;
  margin-left: 100px;
}

.stock-board{
  list-style-type: none;
  counter-reset: item;
  margin-left: 0%;
  padding-left: 0%;
}

.sell-button{
  color:black;
  height: 50px;
  width: 50px;
  margin-right: 20px;
}

.search-symbol{
  padding-top: 5%;
  padding-bottom: 10px;
  color: black;
}

.search-symbol select{
  background-color: rgb(211, 211, 211);
  color: black;
}
