.register-stock-form {
  padding-top: 2.5%;
  width: 21.88rem;
  height: auto;
  justify-content: center;
  align-items: center;
  @media (max-width: 765px) {
    padding: 4%;
    width: 21.88rem;
  }
}

.padding-top {
  margin-top: 5%;
}

.title {
  font-size: 20px;
  white-space: nowrap;
  color: rgb(37, 209, 66);
  display: flex;
  justify-content: center;
  padding-bottom: 0.04rem;
  @media (max-width: 765px) {
    padding-bottom: 0.63rem;
  }
}

.input-row {
  display: flex;
  justify-content: space-between;
}

.mark {
  margin-left: 3.5rem;
}

.pass-rec {
  margin-top: 2px;
}

/* Existe mesmo? ------------------------------ */
.pass-rec button {
  border: none;
  display: none;
  background-color: rgb(39, 39, 39);
  color: rgb(37, 209, 66);
  cursor: pointer;
}
/* Existe mesmo? ------------------------------ */

/* Está no local certo? ------------------------ */
button:active {
  opacity: 0.8;
}
/* Está no local certo? ------------------------ */

.error {
  color: red;
  font-size: small;
  font-weight: bold;
  display: none;
}

.register-buttons {
  display: flex;
  justify-content: space-between;
}

.register-buttons button {
  width: 5.63rem;
  height: 1.88rem;
  font-size: 1.25rem;
}
