.register-stock-form{
  padding: 2%;
  margin-top: 2%;
  width: 300px;
  height: auto;
  background-color: rgb(62, 62, 62);
  justify-content: center;
  align-items: center;
}

.padding-top{
  margin-top: 5%;
}

.title{
  font-size: 20px;
  white-space: nowrap;
  color:rgb(37, 209, 66);
  display: flex;
  justify-content: center;  
  padding-bottom: 10px;  
}

.input-box {
  margin-right: 10%;
  margin-left: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.input-row {
  display: flex;
  justify-content: space-between;
}

.mark{
  margin-left: 3.5rem;
}

.input-box label{
  align-self: baseline;
}

.input-box input{
  width: 100%;
}

.orientation-text{
  color:rgb(211, 211, 211);
}

.pass-rec{
  margin-top: 2px;
}

.pass-rec button{
  border: none;
  display: none;
  background-color: rgb(39, 39, 39);
  color: rgb(37, 209, 66);
  cursor: pointer;
}

button:active{
  opacity: 0.8;
}

.error{
  color: red;
  font-size: small;
  font-weight: bold;
  display:none;
}


.register-buttons{
  display: flex;
  justify-content:space-between;
  margin-right: 10%;
  margin-left: 10%;
}

.register-buttons button{
  width: 90px;
  height: 30px;
  font-size: 20px;
}