.sell-stock-form {
  padding: 2%;
  border: 3px solid white;
  justify-content: center;
  align-items: center;
  width: 21.88rem;
}

.money-spent {
  color: rgb(255, 37, 37);
}

.money-earned {
  color: rgb(64, 225, 64);
}

.information-text {
  display: flex;
  justify-content: space-between;
}
