.statement-display {
  display: flex;
  justify-content: space-between !important;
  padding: 1rem 2rem;
}

.separation-line-statement {
  border: 1px solid rgba(255, 255, 255, 0.605);
  width: 90%;
}
