.stock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(0, 0, 0);
}

.stock-name {
  display: flex;
  flex-direction: column;
}

.stock div {
  display: flex;
  justify-content: space-between;
}

.stock-blocks {
  gap: 1.88rem;
}

.stock-blocks div {
  display: flex;
  flex-direction: column;
  @media (max-width: 765px) {
    text-align: center;
    align-items: center;
  }
}

.upper-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.upper-info div {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding-top: 2%;
  padding-bottom: 2%;
  text-align: center;
  @media (max-width: 765px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.upper-info div label {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.stock-comparison {
  display: flex;
  @media (max-width: 765px) {
    gap: 2.5rem;
  }
}

.stock-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 0.5rem;
  width: 11rem;
  @media (max-width: 765px) {
    margin-left: 0%;
    width: auto;
  }
}

.buy-button {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  height: 4rem;
  font-weight: bold;
  font-size: 1.7rem;
  color: white;
  @media (max-width: 765px) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

.register-stock-button {
  width: 6.25rem;
  height: auto;
  font-weight: bold;
  color: white;

  justify-content: center;
  align-items: center;
  @media (max-width: 765px) {
    width: 100%;
  }
}

.stock-value {
  display: flex;
}

.stock-value-sim {
  display: flex;
  flex-direction: column;
}

.value-new-stock {
  display: flex;
}

.sotck-label {
  font-size: 1.25rem;
  @media (max-width: 765px) {
    font-size: auto;
    height: 0.63rem;
  }
}

.sim-button {
  padding: 2%;
}

.stock-title {
  font-size: 1.88rem;
  white-space: nowrap;
}

.stock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media (max-width: 765px) {
    flex-direction: column;
  }
}
