.stock{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(39, 39, 39);
  margin-bottom: 10px;
}

.stock-name{
  display: flex;
  flex-direction: column;
  padding-top: 2%;
  padding-bottom: 2%;
}

.stock-comparison{
  display: flex;
}

.stock-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: .5rem;
  align-items: center;
  width: 11rem;
}

.value-bought{
  background-color: rgb(182, 0, 0);
}

.value-to-sell{
  background-color: rgb(0, 123, 0);
}

.big-font{
  font-size: 40px;
}

.buy-button{
  width: 100px;
  height: 4rem;
  font-weight: bold;
  margin-right: 20px;
  color: white;
}

.register-stock-button{
  margin-right: 30px;
  width: 100px;
  height: auto;
  font-weight: bold;
  background-color: rgb(88, 88, 88);
  color: white;
  
  justify-content: center;
  align-items: center;
}

.stock-value{
  display:flex;
}

.sotck-label{
  font-size: 20px;
}

.sim-button{
  padding: 2%;
}

.stock-title{
  font-size: 30px;
  white-space: nowrap;
}

.stock{
  display: flex;
  justify-content: space-between;
  align-items: center;
}