.new-stock-buttons{
  display: flex;
}

.alternative-buttons{
  display:flex;
  flex-direction: column;
}

.alternative-buttons button{
  display:flex;
  flex-direction: column;
  height: 1.8rem;  
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
}