*{
  padding: 0;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: "Poppins-Medium";
  color: white;
}

@font-face {
  font-family: "Poppins-Medium";
  src: url(../public/poppins-font/Poppins-Medium.ttf);
}

body{
  /* background-color: rgb(17, 17, 17); */
  margin: 20px 50px 10px 50px;
  background-color: black;
}

body button{
  background-color: black;
  border: 3px solid white;
}

.use-heig{
}

.use-width{
  width:100%;
}


.loading-card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(0, 0, 0);
  padding: 20px; 
  color: white;
  border: 3px solid white;
  z-index: 10000;
}

.green-button{
  border: 3px solid rgb(0, 160, 0);
}

.red-button{
  border : 3px solid rgb(223, 0, 0);
}

.red-font{
  color: rgb(223, 0, 0);
}

.green-font{
  color: rgb(0, 160, 0);
}

.margin-left{
  margin-left: 30px;
}

.margin-right{
  margin-right: 10px;
}

.margin-top{
  margin-top: 10px;
}