*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: "Inter", sans-serif;
  color: white;
}

body{
  background-color: rgb(24, 6, 30);
  padding: 2rem; 
}

input, button{
  padding: 10px;
}

p{
  text-align: center;
}

a{
  text-decoration: none;
}